 *{ 
    margin: 0;
    padding: 0;
}
.lightbox{
    display: table;
    position: fixed;
    top: 0;
    visibility: hidden;
    height: 100%;
    width: 100%;
    left: 0;
    transition-duration: 2s;
    background: rgba(0,0,0,0);
}
.lightbox-content{
vertical-align: middle;
    display: table-cell;
    text-align:center;
}
.lightbox:target{
    visibility: visible;
}
.close{
    top: 10px;
    position: absolute;
    right: 10px;
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
    color: white;
}



